name: extract_model
channels:
  - conda-forge
dependencies:
  - python=3.10
  # Required for full project functionality (dont remove)
  - pytest
  - pytest-benchmark
  # Examples (remove and add as needed)
  - cf_xarray
  - cmocean
  - dask #<=2022.05.0 # for xESMF, https://github.com/axiom-data-science/extract_model/issues/49
  - extract_model
  - matplotlib
  - netcdf4
  - numpy #<1.24  # https://github.com/numba/numba/issues/8615#issuecomment-1360792615
  - numba  # required by xesmf
  - pip
  - pooch
  - requests
  - scikit-learn  # used by xoak for tree
  - xarray
  - xcmocean
  - xesmf  # don't install if on windows
  - xoak
  # - pip:  # install from github to get recent PRs I contributed
  #   - git@github.com:xarray-contrib/cf-xarray.git
