name: extract_model
channels:
  - conda-forge
dependencies:
  - python>=3.7,<3.10
  # Required for full project functionality (dont remove)
  - pytest
  - pytest-benchmark
  # Examples (remove and add as needed)
  - cf_xarray
  - cmocean
  - dask
  - extract_model
  - matplotlib
  - netcdf4
  - numpy
  - numba  # not required but improves unstructured subsetting speed
  - pip
  - requests
  - scikit-learn  # used by xoak for tree
  - xarray
  - xcmocean
  - xoak
  # - pip:  # install from github to get recent PRs I contributed
  #   - git@github.com:xarray-contrib/cf-xarray.git
