name: test-env-win
channels:
  - conda-forge
dependencies:
  - python=3.9
  - cf_xarray>=0.6
  - dask
  - netcdf4
  - numpy <1.24  # https://github.com/numba/numba/issues/8615#issuecomment-1360792615
  - pip
  - requests
  - scikit-learn  # used by xoak for tree
  - xarray
  - xoak
  # - xroms
  - pytest
  - pytest-benchmark
  - pip:
    - xroms >=0.5.3
    - codecov
    - pytest-cov
    - coverage[toml]
    # - git+https://github.com/kthyng/xoak@include_distances
